OPENAI_KEY=YOUR_KEY
OPENAI_EMBEDDINGS_ENDPOINT=YOUR_EMBEDDINGS_ENDPOINT
OPENAI_COMPLETION_ENDPOINT=YOUR_COMPLETION_ENDPOINT
OPENAI_MODEL=YOUR_MODEL
AZURE_AI_SEARCH_KEY=YOUR_KEY
AZURE_AI_SEARCH_ENDPOINT=YOUR_DB_ENDPOINT