OPENAI_KEY=YOUR_KEY
AZURE_AI_SEARCH_KEY=YOUR_KEY

AZURE_AI_SEARCH_ENDPOINT=https://claudia-db.search.windows.net/indexes/claudia-ids-index-large/docs/search?api-version=2023-11-01
OPENAI_EMBEDDINGS_ENDPOINT=https://api.openai.com/v1/embeddings
OPENAI_COMPLETION_ENDPOINT=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o